extends __email

- load url objects

block content_title
  a(href='{% url_absolute "user.views.main" user.username %}')
    | {{ user.first_name }} {{ user.last_name }}

block content_desc
  | Feedback report

block content_meta
  ul
    for field in form
      li(style='margin: 8px 0;')
        b {{ field.label }}
        | :

        if field.field.widget|klass == 'Textarea'
          {{ field.value|linebreaksbr }}
        
        else
          | 
          {{ field.value }}
