extends __error

block title
  | Server Error

block error_code
  | 500

block error_info
  | Sorry, something went wrong on our end.
  br
  | We're fixing this issue and everything should be back up and running soon.
