extends __base

block title
  | Unexpected Error

block content
  .error-page
    .error
      block error_code
        | Error

    .info
      block error_info
        | An unexpected error just occured. Are you trying to drive us nuts?

    a.btn.btn-primary.btn-return(href='{% url "home.views.root" %}')
      if user.is_authenticated
        | Return to Timeline
      else
        | Return to Homepage


block footer
  include _footer_big
