.alert-block.alert-mobile.hide-on-desktop
  .grid
    .g-c12.no-min-height
      if alert
        if alert == 'recover_done_now'
          .alert-singular.not-user-confirmed
            .alert.alert-success
              span.icon
              | Password changed.
        
        if alert == 'confirm_pending'
          .alert-singular.not-user-confirmed
            .alert
              span.icon
              | Please check your emails.
        
        if alert == 'confirm_pending_resent'
          .alert-singular.user-confirm-resent
            .alert.alert-success
              span.icon
              | Sent, check your emails.
        
        if alert == 'confirm_done_now'
          .alert-singular.user-confirmed-now
            .alert.alert-success
              span.icon
              | Email confirmed. Yay!
        
        if alert == 'comment_posted_now'
          .alert-singular.comment-posted-now
            .alert.alert-success
              span.icon
              | Your comment has been posted.
        
        if alert == 'comment_posted_error'
          .alert-singular.comment-posted-error
            .alert.alert-error
              span.icon
              | Your comment could not be posted

      .alert-singular.async-load-error
        .alert.alert-error
          span.icon
          | Woops! Unable to load the page.

    .clear
