.footer-desktop.hide-on-mobile
  .grid
    .g-c12
      span.copyright
        | © 2014
        a(href='https://hakuma.holdings/')
          |  Hakuma Holdings Ltd.

      nav.navigation
        a(href='{% url "company.views.about" %}')
          | About Us
        a(href='{% url "company.views.terms" %}')
          | Terms
        a(href='{% url "company.views.privacy" %}')
          | Privacy
        a(href='{% url "company.views.contact" %}')
          | Contact
        a.blue(href='{{ conf.FACEBOOK_PAGE }}')
          | Facebook
        a.turquoise(href='{{ conf.TWITTER_PAGE }}')
          | Twitter

  .clear
