.header-mobile
  .header
    #searchMobileButton.search
      span.search-img
    
    .logo
      a(href='{% url "home.views.root" %}')
        span.logo-img
      
      if conf.ENVIRONMENT != 'production'
        span.logo-env
          | {{ conf.ENVIRONMENT }}

    .clear

  #searchMobile.search-box(style='display:none;')
    form#searchMobileForm(action='{% url "search.views.root" %}', method='get')
      input.search-input(name='q', type='text', placeholder='Search for your favorite topics and developers')
