- load staticfiles avatar navigation rank search

.header-desktop.hide-on-mobile
  .header
    .grid
      .g-c12.header-c12
        .logo
          a(href='/')
            span.logo-img
            
          if conf.ENVIRONMENT != 'production'
            span.logo-env
              | {{ conf.ENVIRONMENT }}

        .search-engine-wrapper
          | {% search_form search_url_params %}

        #searchTabletButton.search-tablet
          span.search-img

        if not user.is_authenticated
          #quickSignBox.quick-sign
            form#qsForm.qs-form(autocomplete='off', action='{% url "account.views.login_root" %}', method='post')
              | {% csrf_token %}
              
              input.qs-email(type='text', name='username', placeholder='EMAIL')
              span.qs-cutline
              input.qs-password(type='password', name='password', placeholder='••••••••••')
              
              button.btn.btn-primary.btn-small.qs-submit Login
              button.btn.btn-small.qs-cancel(type='button') Cancel
              
              .clear

            .qs-buttons
              a(href='{% url "account.views.login_social" "facebook" %}', data-async='disabled')
                span.facebook-connect-small.qs-facebook.qs-btn
              
              a(href='{% url "account.views.login_social" "twitter" %}', data-async='disabled')
                span.twitter-connect-small.qs-twitter.qs-btn
              
              a.qs-login.btn.btn-small.qs-btn(href='{% url "account.views.login_root" %}', data-async='disabled') Login

        else
          .shortcuts
            #writingButton.writing-shortcut
              a(href='{% url "dashboard.views.tutorial_new" %}')
                span.plus-icon

            #notificationsButton.notifications(
              class=('active' if notification['count_new'] else '')
            )
              span.number {{ notification.count_new|default:0 }}

            #notificationsDeploy.notifications-deploy
              span.arrow
              
              .settings
                a.settings-label(href='{% url "account.views.settings_notifications" %}') Notification Settings
                .clear
              
              form.notification-box(action='#', method='post', data-url-fetch='{% url "notification.views.fetch_page" 1 %}', data-url-read='{% url "notification.views.read" "all" %}')
                | {% csrf_token %}
                
                .notification-loading Loading notifications...
                .notification-items
                .notification-void Nothing but the void.
              
              .more-notifications
                a.more(href='{% url "account.views.settings_notifications" %}') More Notifications

            .user-profile-header
              | {% get_rank request.user %}
              
              .profile
                .user-picture
                  if user and user.username
                    a(href='{% url "user.views.main" user.username %}')
                      | {% avatar_normal request.user %}
                  else
                    {% avatar_normal request.user %}
                
                #userSettings.user-settings
                  .welcome
                    if user and user.username
                      a.username(href='{% url "user.views.main" user.username %}')
                        | Hi Waaaver!
                  .arrow-deploy
                    span.arrow
                  .clear
                
                #userSettingsDeploy.user-settings-deploy
                  if user and user.username
                    a(href='{% url "user.views.main" user.username %}')
                      span.item.item-profile
                        | My Profile
                        span.caret
                          span.caret-img
                  
                  a(href='{% url "dashboard.views.root" %}')
                    span.item.item-dashboard
                      | Dashboard
                      span.caret
                        span.caret-img

                  if request.user.is_staff
                    a(href='{% url "moderation.views.root" %}')
                      span.item.item-moderation
                        | Moderation
                        span.caret
                          span.caret-img

                  a(href='{% url "account.views.settings_root" %}')
                    span.item.item-settings
                      | Settings
                      span.caret
                        span.caret-img
                  
                  a(href='{% url "account.views.logout_root" %}', data-async='disabled')
                    span.item.item-logout Logout
              
              .clear

      .clear

    .embossed-bar

  #searchTablet.search-box(style='display:none;')
    form#searchTabletForm(action='{% url "search.views.root" %}')
      input.search-input(type='text', name='q', placeholder='Search for anything about coding')
