- load avatar follow_btn

if sidebar_right.waaavers
  .popular-waaavers
    .users
      for waaaver in sidebar_right.waaavers
        .user-card
          | {% avatar_small waaaver.user 'complete' %}
          
          .user
            a.username(href='{% url "user.views.main" waaaver.user.username %}')
              | {{ waaaver.user.first_name|title }} {{ waaaver.user.last_name|title }}
            
            span.specialty
              | {{ waaaver.profile.specialty }}
            
            | {% follow_btn_small waaaver.user %}
          
          .clear
