- load staticfiles avatar humanize

if sidebar_right.tutorials
  .suggestions
    .items
      for tutorial in sidebar_right.tutorials
        .item
          | {% avatar_small tutorial.author 'complete' %}
          
          .tutorial
            a.title(href='{% url "tutorial.views.view" tutorial.url.tag tutorial.url.slug %}', title='{{ tutorial.meta.title }}')
              | {{ tutorial.meta.title|truncatechars:60 }}
            
            span.author
              | By 
              a(href='{% url "user.views.main" tutorial.author.username %}')
                | {{ tutorial.author.first_name }} {{ tutorial.author.last_name }}
            
            span.details
              | {{ tutorial.views|intcomma }} view{{ tutorial.views|pluralize }}
              
              span.separator ·
              span.percent {{ tutorial.relevance }}%
          
          .clear
    
    .more-items
      a.btn.btn-primary.more(href='{% url "explore.views.tutorials" %}')
        | More Tutorials
