- load staticfiles

if sidebar_right.books
  .books
    .items
      for book in sidebar_right.books
        .item
          a.cover(href='{% url "book.views.view" book.url.author book.url.slug %}', title='{{ book.item.title }}')
            img(src='{{ book.item.url_cover_small }}', alt='')
          
          .book
            a.title(href='{% url "book.views.view" book.url.author book.url.slug %}', title='{{ book.item.title }}')
              | {{ book.item.title|truncatechars:32 }}
            
            span.author
              | By 
              a(href='{% url "book.views.view" book.url.author book.url.slug %}')
                | {{ book.item.author.person.first_name }} {{ book.item.author.person.last_name }}
            
            if book.amazon_url
              a.badge-amazon(href='{{ book.amazon_url }}', target='_blank', title='Buy {{ book.item.title }} on Amazon')
            else
              a.more(href='{% url "book.views.view" book.url.author book.url.slug %}')
                | see more
          
          .clear
