- load static relevance_buttons

.book-left
  if book.amazon_url
    a(href='{{ book.amazon_url }}', target='_blank')
      img.cover(src='{{ book.item.url_cover_large }}')
  else
    img.cover(src='{{ book.item.url_cover_large }}')

  | {% relevance_buttons item_type item_id %}
  
  .clear
