- load avatar humanize

.item.item-book.with-heading
  .heading
    | A new book has been added
    
    span.separator ·
    span.ago
      | {{ book.date|naturaltime }}
  
  - with book=book.data
    include book/_book_item_cover_medium
