extends moderation/__moderation

- load staticfiles page %}

block title
  | Comment Management | Moderation

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/moderation/stylesheets/moderation_comments.css" %}', type='text/css')

block javascripts
  | {{ block.super }}
  script(src='{% static "assets/moderation/javascripts/moderation_comments.js" %}', type='text/javascript')

block extra_head

block moderation
  .comments
    for cur_comment in comments
      include moderation/_moderation_comments_comment

    | {% pagination 'moderation.views.comments' page_current page_total %}
