extends __base

block content
  .grid
    .g-c10.main-zone-c10
      .main-zone.shadow-light-if-desktop
        include _sidebar_left

        .body-central-wrapper
          block navigation

          .body-central.explore
            block explore

        .clear

    .g-c2.sidebar-right-c2
      include _sidebar_right

    .clear

block footer
  include _footer_big
