- load navigation

.sub-navigation
  nav.tabs
    ul
      li.tab(
        class='{% active "^/explore/books/(\d+/)?$" %}'
      )
        a(href='{% url "explore.views.books" %}')
          | Newest
      
      li.tab(
        class='{% active "^/explore/books/popular/(\d+/)?$" %}'
      )
        a(href='{% url "explore.views.books_popular" %}')
          | Popular
      
      li.tab(
        class='{% active "^/explore/books/alphabetical/(\d+/)?$" %}'
      )
        a(href='{% url "explore.views.books_alphabetical" %}')
          | Alphabetical
