extends explore/__explore

- load staticfiles page

block title
  | Explore the Spots

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/explore/stylesheets/explore_spots.css" %}', type='text/css')

block javascripts
  | {{ block.super }}

block extra_head

block navigation
  include explore/_explore_navigation
  include explore/_explore_spots_navigation

block explore
  if items
    .items-wrapper
      .items
        for spot in items
          include explore/_explore_spots_item

  else
    .alert
      span.icon
      | There is not spot. Too bad.

  | {% pagination explore_view explore_page explore_page_total %}
