.social-networks
  if social_facebook
    a(href='https://www.facebook.com/{{ social_facebook }}', target='_blank')
      span.facebook

  if social_twitter
    a(href='https://twitter.com/{{ social_twitter }}', target='_blank')
      span.twitter

  if social_googleplus
    a(href='https://plus.google.com/{{ social_googleplus }}?rel=author', target='_blank')
      span.googleplus

  if social_website
    a(href='{{ social_website }}', target='_blank')
      span.website
