- load avatar humanize

for user in users
  .item.item-user
    | {% avatar_small user.user 'complete' %}
    
    a.link(href='{% url "user.views.main" user.user.username %}')
      .user-card
        .username
          | {{ user.user.first_name|title }} {{ user.user.last_name|title }}
        
        .details
          | {{ user.profile.specialty|title }}, from {{ user.profile.city|title }}, {{ user.profile.country|title }}.
        
        .following
          span.number
            | {{ user.stats.followers }} Waaaver{{ user.stats.followers|pluralize}}
          | {{ user.stats.followers|pluralize:"is,are"}} following him.
      
      .clear
