.items-space.search-results-info
  if tutorials
    span
      | We found {{ tutorials_all|length }} tutorial{{ tutorials_all|pluralize }} that match{{ tutorials_all|pluralize:'es,' }} your query “{{ search_url_params.q }}”.
  else
    span
      | We found no tutorial that matches your query “{{ search_url_params.q }}”.

.items
  include search/_search_tutorials_items
