- load avatar humanize

for tutorial in tutorials
  .item.item-tutorial
    | {% avatar_small tutorial.user 'complete' %}
    
    a.link(href='{% url "tutorial.views.view" tutorial.url.tag tutorial.url.slug %}')
      .tutorial
        .title
          | {{ tutorial.title }}
        
        .complement
          | By 
          span.author
            | {{tutorial.user.first_name }} {{ tutorial.user.last_name }}
          
          span.separator ·
          span.views
            | {{ tutorial.views|intcomma }} view{{ tutorial.views|pluralize }}
          
          span.separator ·
          span.percent
            | {{ tutorial.relevance.percent_relevant }}%
        
        .clear
