.items-space.search-results-info
  if spots
    span
      | We found {{ spots_all|length }} spot{{ spots_all|pluralize }} that match{{ spots_all|pluralize:'es,' }} your query “{{ search_url_params.q }}”.
  else
    span
      | We found no spot that matches your query “{{ search_url_params.q }}”.

.items
  include search/_search_spots_items
