.search-results-info
  if users
    span
      | We found {{ users_all|length }} user{{ users_all|pluralize }} that match{{ users_all|pluralize:'es,' }} your query “{{ search_url_params.q }}”.
  else
    span
      | We found no user that matches your query “{{ search_url_params.q }}”.

.items
  include search/_search_users_items
  
  .clear
