- load humanize

for book in books
  .item.item-book
    img.cover(
      src='{{ book.item.url_cover_small }}',
      alt=''
    )
    
    a.link(href='{% url "book.views.view" book.url.author book.url.slug %}')
      .book
        .title
          | {{ book.item.title }}
        
        .complement
          | By 
          span.author
            | {{ book.item.author.person.first_name }} {{ book.item.author.person.last_name }}
          
          span.separator ·
          span.views
            | {{ book.views|intcomma }} view{{ book.views|pluralize }}
          
          span.separator ·
          span.percent
            | {{ book.relevance.percent_relevant }}%
        
        .clear
