- load navigation

mixin nav_li(type, human)
  li.tab(
    class=('active' if search_url_params['t'] == type else '')
  )
    a(href='{% url "search.views.root" %}?t={{ type }}&q={{ search_url_params.q }}')
      | {{ human }}

.navigation.user-navigation
  nav.tabs
    ul
      +nav_li('all', 'All')
      +nav_li('tutorials', 'Tutorials')
      +nav_li('spots', 'Spots')
      //- +nav_li('books', 'Books')
      +nav_li('users', 'Users')
