if total > 0
  #suggestPane.suggest-pane
    .items-wrapper
      .items
        include search/_search_suggest_users
        include search/_search_suggest_tutorials
        include search/_search_suggest_books
        include search/_search_suggest_spots

    .suggest-footer
      a.more-results(href='{% url "search.views.root" %}?t={{ search_url_params.t }}&q={{ search_url_params.q }}')
        | Show more results

      span.shown-results
        | Showing 1-{{ total }} of {{ matches }} match{{ matches|pluralize:"es" }}

      .clear
