extends search/__search

- load staticfiles page

block title
  if search_url_params.q
    | {{ search_url_params.q }}
    | Search

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/search/stylesheets/search_root.css" %}', type='text/css')

block javascripts
  | {{ block.super }}

block extra_head

block search
  .items-wrapper
    if search_url_params.t == 'all'
      include search/_search_root_all
    
    if search_url_params.t == 'tutorials'
      include search/_search_root_tutorials
    
    //- if search_url_params.t == 'books'
    //-   include search/_search_root_books
    
    if search_url_params.t == 'spots'
      include search/_search_root_spots
    
    if search_url_params.t = 'users'
      include search/_search_root_users

    | {% pagination 'search.views.root_page' search_page search_page_total url_params=search_url_params %}
