- load navigation

.navigation
  nav.tabs
    ul
      if has_following
        li.tab(
          class='{% active "^/$" %}'
        )
          a(href='{% url "home.views.root" %}')
            | Following

      if has_followers
        li.tab(
          class='{% active "^/timeline/followers/" %}'
        )
          a(href='{% url "timeline.views.followers" %}')
            | Followers

      li.tab(
          class='{% active "^/timeline/everyone/" %}'
        )
        a(href='{% url "timeline.views.everyone" %}')
          | Everyone
