if has_show_more
  .show-more(
    data-url='{% url "timeline.views.fetch" fetch_filter next_page %}'
  )
    a.more(href='#')
      | Show More
    
    span.more-loading
      | Loading More...

else
  .page-end
    span.waaave-emblem
