- load humanize avatar

.item.item-tutorial.item-tutorial-small
  | {% avatar_normal tutorial.data.user 'complete' %}
  
  .tutorial
    h3.title
      a(href='{% url "tutorial.views.view" tutorial.data.url.tag tutorial.data.url.slug %}')
        | {{ tutorial.data.title }}
    
    .complement
      | by
      
      a(href='{% url "user.views.main" tutorial.data.user.username %}')
        | {{ tutorial.data.user.first_name|title }} {{ tutorial.data.user.last_name|title }}
      
      if tutorial.relevance.count_relevant != 0 or tutorial.relevance.count_irrelevant != 0
        span.separator ·
        span.percent(
          class=('red' if tutorial.relevance.percent_relevant < 50 else '')
        )
          | {{ tutorial.relevance.percent_relevant }}%
