- load avatar humanize

.item.item-tutorial.with-heading
  | {% avatar_normal tutorial.data.user 'complete' %}
  
  .heading
    a(href='{% url "user.views.main" tutorial.data.user.username %}')
      | {{ tutorial.data.user.first_name|title }} {{ tutorial.data.user.last_name|title }}
    
    | wrote a new Tutorial
    
    span.separator ·
    span.ago
      | {{ tutorial.date|naturaltime }}

  - with tutorial=tutorial.data
    include tutorial/_tutorial_item_inner
