.items
  for developer in related_developers
    - with aut_user=developer.data.user aut_profile=developer.data.user.profile tutorial=developer.data body_truncate=140
      include user/_user_view_item
