- load bbcode humanize

.tutorial
  if tutorial
    h3.title
      a(href='{% url "tutorial.views.view" tutorial.url.tag tutorial.url.slug %}')
        | {{ tutorial.title }}
    
    .complement
      | By 
      
      a(href='{% url "user.views.main" tutorial.user.username %}')
        | {{ tutorial.user.first_name|title }} {{ tutorial.user.last_name|title }}
      
      span.separator ·
      span.views
        | {{ tutorial.views|intcomma }} view{{ tutorial.views|pluralize }}
      
      span.separator ·
      span.percent(
        class=('red' if tutorial['relevance']['percent_relevant'] < 50 else '')
      )
        | {{ tutorial.relevance.percent_relevant }}%
    
    .details
      if body_truncate
        | {{ tutorial.body|bbcode_as_text|truncatechars:body_truncate }}
      else
        | {{ tutorial.body|bbcode_as_text|truncatechars:380 }}
      
      | 

      a.read-more(href='{% url "tutorial.views.view" tutorial.url.tag tutorial.url.slug %}')
        | (read more)
