- load humanize relevance_buttons join_btn

if is_preview
  .alert.alert-warning
    span.icon
    | You are in preview mode. Those changes have not been saved yet.

.tutorial-title
  h1.title
    | {{ tut_meta.title }}
  
  .details
    .edition
      span.pen
      | Edit: {{ tut_meta_edit_date|naturaltime }}.
    
    .time
      span.hourglass
      | {{ tut_meta_level }}: {{ tut_meta_duration }}
    
    .views
      span.eye
      | {{ tut_stats_views|intcomma }} view{{ tut_stats_views|pluralize }}.

//- .tutorial-tags
//-   for tag in tut_tags
//-     | {% join_btn_label tag %}

include user/_user_view_summary_small

.relevance-mobile
  | {% relevance_buttons item_type item_id %}

include share/_share_buttons_small
