- load navigation

.navigation.tutorial-navigation
  nav.tabs
    ul
      li.tab(
        class='{% active "^/tutorial/[^\/]+/[^\/]+/$" %}'
      )
        a(href='{% url "tutorial.views.view" tut_tag tut_slug %}')
          | Tutorial Content
      
      li.tab(
        class='{% active "^/tutorial/[^\/]+/[^\/]+/related/tutorials/" %}'
      )
        a(href='{% url "tutorial.views.view_related_tutorials" tut_tag tut_slug %}')
          | Related Tutorials
      
      li.tab(
        class='{% active "^/tutorial/[^\/]+/[^\/]+/related/developers/$" %}'
      )
        a(href='{% url "tutorial.views.view_related_developers" tut_tag tut_slug %}')
          | Related Developers
      
      if aut_user.id == request.user.id or request.user.is_staff
        li.tab
          a(href='{% url "dashboard.views.tutorial_edit" item_id %}')
            | Edit
