extends tutorial/__tutorial

- load staticfiles

block title
  | Related Developers

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/tutorial/stylesheets/tutorial_view_related_tutorials_developers.css" %}', type='text/css')

block javascripts
  | {{ block.super }}
  script(src='{% static "assets/tutorial/javascripts/tutorial_view_related_tutorials_developers.js" %}', type='text/javascript')

block extra_head

block tutorial
  .left-summary-desktop
    include tutorial/_tutorial_view_summary

  include tutorial/_tutorial_navigation
  
  .user-space
    .clear.user-clear
    
    .timeline.timeline-user
      .items-space.items-wrapper
        if related_developers
          include tutorial/_tutorial_view_related_developers_items
          include tutorial/_tutorial_view_related_developers_more
        
        else
          .alert
            span.icon
            | We could not find any related developer!
