- load avatar humanize spot_picture

.item.item-spot.with-heading
  | {% avatar_normal spot.meta.user 'complete' %}
  
  .heading
    a(href='{% url "user.views.main" spot.meta.user.username %}')
      | {{ spot.meta.user.first_name|title }} {{ spot.meta.user.last_name|title }}
    | joined 
    
    a(href='{% url "spot.views.view_root" spot.data.0.data.item.slug %}')
      | {{ spot.data.0.data.item.name }}
    
    if spot.data|length > 1
      | and 
      
      a(
        href='{% url "user.views.main_interests" spot.meta.user.username %}',
        title='{% for item in spot.data|slice:"1:" %}{% if forloop.counter > 1 %}, {% endif %}{{ item.data.item.name }}{% endfor %}'
      )
        | {{ spot.data|slice:'1:'|length|intcomma }} other Spot{{ spot.data|slice:'1:'|length|pluralize }}
    
    span.separator ·
    span.ago
      | {{ spot.date|naturaltime }}

  | {% spot_picture_normal spot.data.0.data.item %}

  - with spot=spot.data.0.data
    include spot/_spot_item_inner
