- load humanize

.join-wrapper
  form.join-btn-form(action='{% url "spot.views.join" join_spot.slug %}', method='post')
    | {% csrf_token %}
    
    input(type='hidden', name='join_state')
    
    button.join.join-large(
      class=('joined' if join_btn_is_active else ''),
      type='button',
      data-spot-id='{{ join_spot.id }}',
      data-tooltip='Please login first'
    )
      i.icon
      span.text Join
    
    span.join-arrow.join-arrow-large
    span.join-counter.join-counter-large
      | {{ join_counter|intcomma }}
