.avatar-wrapper.spot-picture(
  class=('avatar-wrapper-%s' % size if size != 'normal' else '')
)
  .avatar(
    class=('avatar-%s' % size if size != 'normal' else '')
  )
    if spot
      a(href='{% url "spot.views.view_root" spot.slug %}')
        | {{ spot_picture|safe }}
    else
      | {{ spot_picture|safe }}
