- load join_btn humanize

.spot
  h3.title
    a(href='{% url "spot.views.view_root" spot.item.slug %}')
      | {{ spot.item.name }}
    
    span.separator ·
    span.category Technology
  
  .details
    | {{ spot.item.description }} 
    
    a.view-spot(href='{% url "spot.views.view_root" spot.item.slug %}')
      | (view spot)
  
  .complement
    | {% join_btn_count_large spot.item %}
    | 

    a.nb-tutorials(href='{% url "spot.views.view_tutorials" spot.item.slug %}')
      | {{ spot.count_items.tutorials|intcomma }} Tutorial{{ spot.count_items.tutorials|pluralize }}
    
    | 

    a.nb-books(href='{% url "spot.views.view_books" spot.item.slug %}')
      | {{ spot.count_items.books|intcomma }} Book{{ spot.count_items.books|pluralize }}
    
    | 

    a.write-tutorial(href='{% url "dashboard.views.tutorial_new" %}')
      | Write a Tutorial
    
    | 

    a.suggest-book(href='{% url "company.views.contact" %}')
      | Suggest a book
