- load humanize

.join-wrapper.join-tag
  form.join-btn-form(action='{% url "spot.views.join" join_spot.slug %}', method='post')
    | {% csrf_token %}
    
    input(type='hidden', name='join_state')
    
    button.join.join-label(
      class=('joined' if join_btn_is_active else ''),
      type='button',
      data-spot-id='{{ join_spot.id }}',
      data-tooltip='Please login first'
    )
      i.icon
    
    a.tag(href='{% url "spot.views.view_root" join_spot.slug %}')
      | {{ join_spot.name }}
    
    .clear
