extends spot/__spot

- load staticfiles page

block title
  | Spot

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/spot/stylesheets/spot_view.css" %}', type='text/css')

block extra_head

block spot
  .spot-view
    include spot/_spot_header
    include spot/_spot_navigation
    
    .spot-waaavers
      if items
        .items-wrapper
          .items
            for user in items
              - with aut_user=user.user aut_profile=user.user.profile tutorial=user.tutorial body_truncate=145
                include user/_user_view_item

      else
        .alert
          span.icon
          | There is no waaaver in this spot.

      | {% pagination spot_view spot_page spot_page_total %}
