extends spot/__spot

- load staticfiles hitcount_tags

block title
  | Spot

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/spot/stylesheets/spot_view.css" %}', type='text/css')

block extra_head

block spot
  .spot-view
    include spot/_spot_header
    include spot/_spot_navigation
    
    .timeline.spot-timeline
      .items-wrapper
        if timeline
          - with timeline=timeline has_show_more=has_show_more
            include timeline/_timeline_items
          
          - with has_show_more=has_show_more
            include spot/_spot_view_root_more
        
        else
          .alert
            span.icon
            | This spot has no activity.

  script(type='text/javascript').
    $(document).ready(function() {
      {% get_hit_count_javascript for spot.item %}
    });
