extends spot/__spot

- load staticfiles page

block title
  | Spot

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/spot/stylesheets/spot_view.css" %}', type='text/css')

block javascripts
  | {{ block.super }}

block extra_head

block spot
  .spot-view
    include spot/_spot_header
    include spot/_spot_navigation
    
    .spot-books
      if items
        .items-wrapper
          .items
            for book in items
              include book/_book_item
      
      else
        .alert
          span.icon
          | There is no book in this spot.

      | {% pagination spot_view spot_page spot_page_total %}
