- load waaave_btn facebook_btn twitter_btn google_btn stumble_btn

.share-buttons.share-buttons-small
  | {% waaave_btn_small %}
  | {% facebook_btn_small %}
  | {% twitter_btn_small %}
  | {% google_btn_small %}

  .clear.share-buttons-clear
