- load waaave_btn facebook_btn twitter_btn google_btn stumble_btn

.share-buttons.share-buttons-large
  | {% waaave_btn_large %}
  | {% facebook_btn_large %}
  | {% twitter_btn_large %}
  | {% google_btn_large %}
  
  .clear
