- load humanize

.waaave-countbox
  .large-button
    form.waaave-btn-form(action='{% url "share.views.waaave" item_type item_id %}', method='post')
      | {% csrf_token %}
      
      input(type='hidden', name='waaave_state')
      
      span.waaave-social-counter.waaave-social-large-counter(data-tooltip='Please login first')
        | {{ waaave_btn_counter|intcomma }}
      span.waaave-social-large-arrow
      
      button.waaave-social.waaave-social-large(
        class=('waaaved' if waaave_btn_is_active else ''),
        type='button'
      )
        i.icon
        span.text waaave
