- load humanize

.waaave-small
  .default-button
    form.waaave-btn-form(action='{% url "share.views.waaave" item_type item_id %}', method='post')
      | {% csrf_token %}
      
      input(type='hidden', name='waaave_state')
      
      button.waaave-social(
        class=('waaaved' if waaave_btn_is_active else ''),
        type='button',
        data-tooltip='Please login first'
      )
        i.icon
        span.text waaave
      
      span.waaave-social-arrow
      span.waaave-social-counter
        | {{ waaave_btn_counter|intcomma }}
