- load humanize avatar

.notification.notification-follow(
  class=('new' if follow['new'] else ''),
  data-type='follow',
  data-id='{{ follow.id }}',
  data-url-read='{% url "notification.views.read" "single" "follow" follow.id %}'
)
  | {% avatar_small follow.data.0.data.user 'complete' %}
  
  .content
    span.notification-label
      a.semibold(href='{% url "user.views.main" follow.data.0.data.user.username %}')
        | {{ follow.data.0.data.user.first_name|title }} {{ follow.data.0.data.user.last_name|title }}
      
      if follow.data|length > 1
        | and 
        a(href='{% url "user.views.main_followers" request.user.username %}')
          | {{ follow.data|slice:'1:'|length|intcomma }} other{{ follow.data|slice:'1:'|length|pluralize }}

      | {{ follow.data|pluralize:"is,are" }} now following you.
    
    span.elapsed
      | {{ follow.date|naturaltime }}
    
    if follow.new
      span.label-new
        | New

    .clear
  
  a.close(href='#')
