- load humanize avatar

.notification.notification-comment(
  class=('new' if comment['new'] else ''),
  data-type='comment',
  data-id='{{ comment.id }}',
  data-url-read='{% url "notification.views.read" "single" "comment" comment.id %}'
)
  | {% avatar_small comment.data.user 'complete' %}
  
  .content
    span.notification-label
      a.semibold(href='{% url "user.views.main" comment.data.user.username %}')
        | {{ comment.data.user.first_name|title }} {{ comment.data.user.last_name|title }}
      | added a comment on 
      
      if comment.data.item_type == 'tutorial'
        a(href='{% url "tutorial.views.view" comment.data.item_data.url.tag comment.data.item_data.url.slug %}#comment-{{ comment.data.comment.id }}') {{ comment.data.item_data.title }}
        | .
    
    span.elapsed
      | {{ comment.date|naturaltime }}
    
    if comment.new
      span.label-new
        | New

    .clear
  
  a.close(href='#')
