- load humanize

.notification.notification-rank-up(
  class=('new' if rank['new'] else ''),
  data-type='rank-up',
  data-id='{{ rank.id }}',
  data-url-read='{% url "notification.views.read" "single" "rank-up" rank.id %}'
)
  span.waaave-icon
  
  .content
    span.notification-label
      | Congrats! You're now rank {{ rank.rank }}.
    
    span.elapsed
      | {% rank.date|naturaltime %}
    
    if rank.new
      span.label-new
        | New

    .clear
  
  a.close(href='#')
