- load humanize avatar

.notification.notification-waaave(
  class=('new' if waaave['new'] else ''),
  data-type='waaave',
  data-id='{{ waaave.id }}',
  data-url-read='{% url "notification.views.read" "single" "waaave" waaave.id %}'
)
  | {% avatar_small waaave.data.0.data.user 'complete' %}
  
  .content
    span.notification-label
      a.semibold(href='{% url "user.views.main" waaave.data.0.data.user.username %}')
        | {{ waaave.data.0.data.user.first_name|title }} {{ waaave.data.0.data.user.last_name|title }}
      
      if waaave.data|length > 1
        | and 
        a(href='{% url "account.views.settings_notifications" %}')
          | {{ waaave.data|slice:'1:'|length|intcomma }} other{{ waaave.data|slice:'1:'|length|pluralize }}
        
      | waaaved
      
      if waaave.meta.item_type == 'tutorial'
        | your tutorial 
        a(href='{% url "tutorial.views.view" waaave.meta.item_data.url.tag waaave.meta.item_data.url.slug %}') {{ waaave.meta.item_data.title }}
        | .

    span.elapsed
      | {{ waaave.date|naturaltime }}
    
    if waaave.new
      span.label-new
        | New

    .clear
  
  a.close(href='#')
