- load humanize avatar

.notification.notification-follow-add(
  class=('new' if follow_add['new'] else ''),
  data-type='follow-add',
  data-id='{{ follow_add.id }}',
  data-url-read='{% url "notification.views.read" "single" "follow-add" follow_add.id %}'
)
  | {% avatar_small follow_add.data.user 'complete' %}
  
  .content
    span.notification-label
      a.semibold(href='{% url "user.views.main" follow_add.data.user.username %}')
        | {{ follow_add.data.user.first_name|title }} {{ follow_add.data.user.last_name|title }}
      | added a new 
      
      if follow_add.data.item_type == 'tutorial'
        | tutorial (
        a(href='{% url "tutorial.views.view" follow_add.data.item_data.url.tag follow_add.data.item_data.url.slug %}') {{ follow_add.data.item_data.title }}
        | ).

    span.elapsed
      | {{ follow_add.date|naturaltime }}
    
    if follow_add.new
      span.label-new
        | New

    .clear
  
  a.close(href='#')
