extends __email

if follow_add_data.type == 'tutorial'
  block content_title
    | {{ follow_add_user.first_name|title }} {{ follow_add_user.last_name|title }} Added A Tutorial

  block content_desc
    | The tutorial is entitled: "{{ follow_add_data.title|truncatechars:50 }}".

  block content_go
    a.button_go(
      style='display: inline-block; padding: 10px 22px; border: 1px solid #32528a; *zoom: 1; background: #5a9cd6; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a9cd6), color-stop(100%, #416cba)); background: -webkit-linear-gradient(top, #5a9cd6, #416cba); background: -moz-linear-gradient(top, #5a9cd6, #416cba); background: -o-linear-gradient(top, #5a9cd6, #416cba); background: linear-gradient(top, #5a9cd6, #416cba); color: #ffffff; -webkit-box-shadow: #a2ccf0 0 1px 0 0 inset; -moz-box-shadow: #a2ccf0 0 1px 0 0 inset; box-shadow: #a2ccf0 0 1px 0 0 inset; text-shadow: #152946 1px 1px 1px; text-decoration: none;',
      href='{{ content_go_url }}'
    )
      | View {{ follow_add_user.first_name }} {{ follow_add_user.last_name }}'s Tutorial

block content_meta
  | You receive this email because your settings state that you accept to be notified when a user you follow adds new content. You can opt-out from such notifications anytime.
