#######################################
### DJANGO DEVELOPMENT APACHE RULES ###
#######################################

# DOMAIN  : waaave.com.dev
# WARNING : not to be used on both staging and production!


RewriteEngine   On


# Django development server
RewriteRule   ^index\.html$   /
RewriteRule   ^(((?!((favicon(-\d{2,3}x\d{2,3})?\.(ico|png))|(((apple-touch-icon(-\d+x\d+)?)|(tile))\.png))).)*)$   http://localhost:8000/$1   [P,L]