- load navigation

.navigation
  nav.tabs
    ul
      li.tab(
        class='{% active "^/company/about/" %}'
      )
        a(href='{% url "company.views.about" %}')
          | About Us
      
      li.tab(
        class='{% active "^/company/terms/" %}'
      )
        a(href='{% url "company.views.terms" %}')
          | Terms of Service
      
      li.tab(
        class='{% active "^/company/privacy/" %}'
      )
        a(href='{% url "company.views.privacy" %}')
          | Privacy Policy
      
      li.tab(
        class='{% active "^/company/contact/" %}'
      )
        a(href='{% url "company.views.contact" %}')
          | Contact Us
