if has_show_more
  .show-more(
    data-url='{% url "user.views.main_fetch" aut_user.username next_page %}'
  )
    a.more(href='#')
      | Show More
    
    span.more-loading
      | Loading More...

else
  .page-end
    span.waaave-emblem
