- load staticfiles avatar follow_btn profile

.user-profile-small
  | {% avatar_normal aut_user 'complete' %}
  
  .content
    h3.author
      a(href='{% url "user.views.main" aut_user.username %}')
        | {{ aut_user.first_name|title }} {{ aut_user.last_name|title }}
    
    h4.specialty
      | {{ aut_profile.specialty|title }}
    
    if aut_profile.city and aut_profile.country
      .from
        span.pin
        span.city
          | {{ aut_profile.city|title }}, {{ aut_profile.country }}.
      
    | {% follow_btn_large aut_user %}
