extends user/__user

- load staticfiles hitcount_tags

block title
  | {{ aut_user.first_name|title }} {{ aut_user.last_name|title }}

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/user/stylesheets/user_main.css" %}', type='text/css')

block extra_head

block user
  .left-summary-desktop
    include user/_user_view_summary
  
  include user/_user_navigation
  
  .user-space
    include user/_user_view_summary_small
    
    .clear.user-clear
    
    .timeline.timeline-user
      .items-wrapper
        if timeline
          include timeline/_timeline_items
          include user/_user_main_more
        
        else
          .alert
            span.icon
            | This user has no activity.

  script(type='text/javascript').
    $(document).ready(function() {
      {% get_hit_count_javascript for aut_user %}
    });
