.page_content(data-type='followers')
  - with user_items=user_followers
    include user/_user_main_followers_following_items
  
  .clear
  
  - with fetch_followers=1
    include user/_user_main_followers_following_interests_more
