extends account/__account

block content
  .grid
  .g-c6.g-s3
    .emblem.hide-on-mobile
      if has_login_required and not form.errors and not error_notif.has
        span.emblem-img.ef_bounce
      else
        span.emblem-img

    block emblemize
    
  .clear
