extends account/__account

- load staticfiles

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/account/stylesheets/account_register.css" %}', type='text/css')

block extra_head

block content
  .grid
    if comment_posted or comment_pool or register_resumed
      .g-c7.register-notifs
        if comment_posted
          .alert.alert-success.register-alert.hide-on-desktop
            span.icon
            | Comment posted.
          
          .alert.alert-success.register-alert.hide-on-mobile
            span.icon
            | Your comment has been posted from your newly created account. Yay!
        
        elif comment_pool
          .alert.register-alert.hide-on-desktop
            span.icon
            | Register to comment.
          
          .alert.register-alert.hide-on-mobile
            span.icon
            | Thanks for commenting. Please create a Waaave account to get it published.
        
        elif register_resumed
          .alert.register-alert.hide-on-desktop
            span.icon
            | Registration resumed.
          
          .alert.register-alert.hide-on-mobile
            span.icon
            | You did not complete your registration. It has been resumed to be finished.

    .g-c12
      block register_step
    
    .clear
