- load navigation

.navigation
  nav.tabs
    ul
      li.tab(
        class='{% active "^/account/settings/$" %}'
      )
        a(href='{% url "account.views.settings_root" %}')
          | Account Settings
      
      li.tab(
        class='{% active "^/account/settings/credentials/$" %}'
      )
        a(href='{% url "account.views.settings_credentials" %}')
          | Password
      
      li.tab(
        class='{% active "^/account/settings/notifications/$" %}'
      )
        a(href='{% url "account.views.settings_notifications" %}')
          | Notification Center
