extends account/__account

- load staticfiles avatar

block title
  | Sign in to Your Account

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/account/stylesheets/account_login.css" %}', type='text/css')

block javascripts
  {{ block.super }}
  script(src='{% static "assets/account/javascripts/account_login.js" %}', type='text/javascript')

block extra_head

block account
  #signinSpace.signin
    .avatar-header
      | {% avatar_large complete='complete' %}

    form#signinForm.signin-form(
      class=('is_invalid' if form.errors or error_notif['has'] else ''),
      method='post',
      autocomplete='off'
    )
      | {% csrf_token %}
      
      if error_notif.long and error_notif.short
        .alert.alert-error.login-error.hide-on-mobile
          span.icon
          | {{ error_notif.long }}
        
        .alert.alert-error.login-error.hide-on-desktop
          span.icon
          | {{ error_notif.short }}

      else
        if has_login_required
          .alert.login-alert.hide-on-mobile
            span.icon
            | You need to login to access that page.

          .alert.login-alert.hide-on-desktop
            span.icon
            | Sign in to access that page.
        
        if social_auth_failed
          .alert.alert-error.login-alert.hide-on-mobile
            span.icon
            | We could not authenticate you, please retry.

          .alert.alert-error.login-alert.hide-on-desktop
            span.icon
            | Authentication failed.
        
        if social_auth_revoked %}
          .alert.alert.login-alert.hide-on-mobile
            span.icon
            | You revoked Waaave access in your social account.

          .alert.alert.login-alert.hide-on-desktop
            span.icon
            | Access revoked in social account.
      
      .api-mobile
        a(href='{% url "account.views.login_social" "facebook" %}', data-async='disabled')
          span.facebook-connect
        
        a(href='{% url "account.views.login_social" "twitter" %}', data-async='disabled')
          span.twitter-connect-small
      
      fieldset.credentials
        .labels Type your Email &amp; your Password.
        
        | {{ form.username }}
        | {{ form.password }}
      
      fieldset.additionals
        .remember-me-field
          | {{ form.remember }}
          
          label.remember-me-label(for='rememberMe')
            span.img
          
          label.checkbox-slide-label.remember-me(for='rememberMe') Keep me logged in.
          
          br
        
        button.signin-submit.btn.btn-primary(type='submit') Login
        
        .api-desktop.hide-on-mobile
          span.separator-api
          
          |  

          a(href='{% url "account.views.login_social" "facebook" %}', data-async='disabled')
            span.facebook-connect

          |  

          a(href='{% url "account.views.login_social" "twitter" %}', data-async='disabled')
            span.twitter-connect
          
          |  

          a(href='{% url "account.views.login_social" "twitter" %}', data-async='disabled')
            span.twitter-connect-small
        
        .clear
        
        span.delimitor.hide-on-mobile |
        
        a#goToForgot.forgot(href='{% url "account.views.recover_root" %}')
          span.icon-forgot
          | Forgot your password?
        
        br
        
        span.register-mobile
          span.icon-register
          | Not registered? 
          
          a(href='{% url "account.views.register_root" %}')
            | Create an account!
        
        span.register-tablet.hide-on-mobile
          span.icon-register
          | Not registered? 
          
          a(href='{% url "account.views.register_root" %}')
            | Create an account and join the waaave!
      
      .clear
