extends account/__account_register

- load staticfiles avatar

block title
  | Join the Network

block register_step
  .welcome-step
    | {% avatar_large complete='complete' %}
    
    h1
      | Welcome to Waaave, {{ first_name|title|default:"newcomer" }}.
    
    p.details
      | We just activated your waaave rank.
      br
      | You will learn more about this feature in the next few minutes.
    
    form#welcomeForm(action='./', method='post', autocomplete='off')
      | {% csrf_token %}
      
      button#welcomeButton.btn.btn-primary.btn-large.next-step(name='register_start', value='1')
        | Let's Get Started
