extends account/__account_register

- load staticfiles avatar

block title
  | Congrats {{ request.user.first_name|default:"friend" }}! You're now a Waaaver

block register_step
  .final-step
    | {% avatar_large request.user 'complete' %}
    
    h1
      | Congrats {{ request.user.first_name|default:"friend" }}, you're now rank 2!
    
    p.details
      | The waaave rank is an indicator that represents your activity level and the quality of your work.
      br
      | You can increase your waaave rank by adding tutorials and by helping other users on the platform.
    
    form(action='./', method='post')
      | {% csrf_token %}
      
      if comment_posted
        button.btn.btn-primary.btn-large(type='submit', name='register_done', value='1')
          | Go to my Comment
      else
        button.btn.btn-primary.btn-large(type='submit', name='register_done', value='1')
          | Go to your Timeline
    
    .cutline
    
    .additionals
      p.contact
        | If you have any questions, you can email us on 
        a(href='{% url "company.views.contact" %}') our contact page
        | .
      
      //-
        p.feedback
          | To contribute and help us to improve the features, please feel free 
          a(href='{% url "feedback.views.root" %}') to give us your feedback here
          | .
      
      //-
        p.pro
          | To keep yourself up to date with the latest features on the Sharing Network, 
          a(href='{% url "blog.views.page" %}') you can visit our official blog right here
          | .
