extends __email

block content_title
  | Recover Your Password

block content_desc
  | This recovery session will expire in {{ expire_minutes }} minutes.

block content_go
  a(
    style='display: inline-block; padding: 10px 22px; border: 1px solid #32528a; *zoom: 1; background: #5a9cd6; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a9cd6), color-stop(100%, #416cba)); background: -webkit-linear-gradient(top, #5a9cd6, #416cba); background: -moz-linear-gradient(top, #5a9cd6, #416cba); background: -o-linear-gradient(top, #5a9cd6, #416cba); background: linear-gradient(top, #5a9cd6, #416cba); color: #ffffff; -webkit-box-shadow: #a2ccf0 0 1px 0 0 inset; -moz-box-shadow: #a2ccf0 0 1px 0 0 inset; box-shadow: #a2ccf0 0 1px 0 0 inset; text-shadow: #152946 1px 1px 1px; text-decoration: none;',
    class='button_go',
    href='{{ content_go_url }}'
  )
    | Change My Password

block content_meta
  | You receive this email because you (or somebody else) initiated the password recovery process on your account. If you did not initiate this request, ignore this email. Someone might be playing with you.
