extends account/__account_settings

- load staticfiles

block title
  | Change your Password | Settings

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/account/stylesheets/account_settings.css" %}', type='text/css')

block javascripts
  | {{ block.super }}

block extra_head

block settings
  form.classic-form#settingsForm.settings-form(action='./', type='_POST', method='post')
    | {% csrf_token %}
    
    if form.errors
      .alert.alert-error.hide-on-desktop
        span.icon
        | Please fix errors below.
      
      .alert.alert-error.hide-on-mobile
        span.icon
        | There are some errors in there, please fix them.
      
    if form_saved
      .alert.alert-success.hide-on-desktop
        span.icon
        | Password changed.
      
      .alert.alert-success.hide-on-mobile
        span.icon
        | Your password has been changed. You won't be able to use the old one now.

    .main-area.password-area
      .heading
        | Change your password or recover your current one.

      .main-form
        for field in form
          .main-form-item
            label.label-main(for='id_{{ field.html_name }}')
              | {{ field.label }}
            
            | {{ field }}
            
            for error in field.errors
              span.input-tooltip-error(
                class='{{ field.html_name }}-error'
              )
                | {{ error|escape }}

            if field.help_text
              span.tool-tip {{ field.help_text }}

        button.btn.btn-small.btn-primary.btn-main-form(type='submit')
          | Change my Password

    .clear
