#######################################
### DJANGO DEVELOPMENT APACHE RULES ###
#######################################

# DOMAIN  : static.waaave.com.dev
# WARNING : not to be used on both staging and production!


RewriteEngine   On


# Django static files
RewriteCond     %{REQUEST_URI}                          !^/dist/
RewriteCond     %{DOCUMENT_ROOT}/dist/%{REQUEST_URI}    -f
RewriteRule     ^(.*)$                                  /dist/$1

RewriteCond     %{REQUEST_URI}                          !^/build/
RewriteCond     %{DOCUMENT_ROOT}/dist/%{REQUEST_URI}    !-f
RewriteCond     %{DOCUMENT_ROOT}/build/%{REQUEST_URI}   -f
RewriteRule     ^(.*)$                                  /build/$1


# MIME Types
AddType application/vnd.ms-fontobject   .eot
AddType application/x-font-ttf          .ttf
AddType application/font-woff           .woff
AddType image/svg+xml                   .svg


# Headers
Header set Access-Control-Allow-Origin   *