#######################################
### DJANGO DEVELOPMENT APACHE RULES ###
#######################################

# DOMAIN  : avatar.waaave.com.dev
# WARNING : not to be used on both staging and production!


# Alias of Waaave avatar app
RewriteEngine   On
RewriteRule     ^(.*)$   http://localhost:8000/avatar/$1   [P,L]