#sidebarRight.sidebar-right.hide-on-mobile
  .guidelines
    h4.heading Writing Guidelines
    
    p.instruction
      strong
        | 1:
      | Your tutorial must be written in a correct English.
    
    p.instruction
      strong
        | 2:
      | Your tutorial must be relevant, concise and pleasant to read.
    
    p.instruction
      strong
        | 3:
      | Your tutorial must have an interest in the coding and development world.
    
    p.instruction.before-online
      | You must only put your tutorial 
      strong.green
        | online
      | when it is completed. Be sure to respect the guidelines above and to facilitate our validation work.
  
  include _sidebar_right_waaavers
