.trash-button-container
  button.trash-button.btn.btn-danger(
    type='button',
    data-tooltip-singular='Delete 1 tutorial?',
    data-tooltip-plural='Delete %s tutorials?'
  )
    span.trash-icon
