extends dashboard/__dashboard

- load staticfiles

block title
  | Profile Settings | Dashboard

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/dashboard/stylesheets/dashboard_profile_settings.css" %}', type='text/css')

block javascripts
  | {{ block.super }}
  script(src='{% static "assets/dashboard/javascripts/dashboard_profile_settings.js" %}', type='text/javascript')

block extra_head

block dashboard
  // Nothing there for now...
